.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    z-index: 11;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 370px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    border-radius: 3px;
    &__thanks {
        min-height: 150px;
    }
    &__code {
        min-height: 150px;
    }
    &__signin {
        .dialog-form{
            margin-top: 0;
        }
    }
    &__coupon {
        width: 800px;
        height: 545px;
        background-color: #fff;
        padding: 30px;
        border-radius: 0;
        hr {
            border: 0;
            height: 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
    }
    &__couponlinks {
        width: 312px;
        height: 545px;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 30px;
        border-radius: 3px;
        &-map {
            width: 312px;
            height: 545px;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border-radius: 3px;
            padding: 0;
            iframe {
                width: 100%
            }
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 35px;
        line-height: 18px;
        color: $main-color;
        cursor: pointer;
        &-links{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 35px;
            line-height: 18px;
            color: $main-color;
            cursor: pointer; 
        }
    }
    &__button {
        width: 100%;
        height: 55px;
        border-radius: 5px;
        background-color: $main-color;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 15px;
        &-links {
            height: 35px;
            justify-content: center;
            margin-top: 460px;
            font-size: 13px;
        }
    }
    &__subtitle {
        font-size: 27px;
        margin-top: 0;
        font-weight: 300;
        color: #4d4d4d;
        &-consult {
            font-size: 20px;
            text-align: center;
        }
    }
    &__descr {
        color: #0d0d0d;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    .error {
        margin-top: 5px;
        border: 1px solid red;
    }

    label.error{
        border: none;
        text-align: center;
        margin-bottom: 10px;
        font-size: 13px;
        color: red;
        font-weight: 300;
        margin-left: 3px;
    }
    
}
.coupon {
    &__preview {
        display: flex;
        
    }

    &__slider {
        width: 420px;
        height: 315px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        width: 292px;
        margin-left: 32px;

        .raiting__icon {
            height: 15px;
            display: flex;
            margin-bottom: 4px;

            ul {
                list-style-type: none;
            }

            li i {
                font-size: 14px;
            }
        }
    }

    &__review {
        font-size: 13px;
        color: #858585;
    }

    &__price {
        font-size: 45px;
        color: $main-color;
        margin: 10px 0 10px 0;
        line-height: 50px;
    }

    &__descr {
        font-size: 13px;
        margin-top: 15px;
    }

    &__menu {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__timer {
        width: 230px;
        margin: 10px 0 10px 0;

        &-title {
            font-size: 13px;
            color: #858585;
        }

        &-item {
            border-bottom: 1px dashed #e6e6e6;

            span.colored {
                color: $main-color;
                font-size: 26px;
                font-weight: 700;
                margin-right: 10px;
            }

            span {
                color: #858585;
                font-size: 17px;
            }

            span.colored span {
                font-size: 29px;
                color: $main-color;
                font-weight: 700;
            }
        }
    }

    &__count {
        font-size: 13px;
        color: #858585;
        margin-top: 10px;
    }

    &__interactive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 290px;

        &-item {
            display: block;
            width: 135px;
            font-size: 13px;
            color: #858585;
            text-decoration: none;
            cursor: pointer;

            i {
                margin-right: 5px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                border-radius: 50%;
                background: #4d4d4d;
                color: #fff;
                text-align: center;
                font-size: 13px;
            }

            &:hover {
                text-decoration: none;
                color: #858585;
            }
        }
    }

    &__stat {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__prices-item {
        font-size: 13px;
        margin-right: 22px;

        span {
            font-size: 17px;
            display: block;
            text-align: center;
            font-weight: 600;
        }
    }

    &__buttons {
        display: flex;

        .btn-active {
            width: 140px;
            height: 38px;
            border-radius: 5px;
            background-color: $main-color;
            border: none;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 5px;
            line-height: 37px;
            outline: 0;
            margin-right: 10px;
            text-decoration: none;
            text-align: center;

        }

        .btn-wish {
            width: 140px;
            height: 38px;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #eaeaea;
            color: #6b6b6b;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 5px;
            line-height: 35px;
            outline: 0;
            text-decoration: none;
            text-align: center;
        }

        .btn-active>i {
            margin-right: 5px;
        }

        .btn-wish>i {
            margin-right: 5px;
        }
    }
}
.comments {
    &__scroll {
        position: absolute;
        height: 440px;
        overflow-y: auto;
        margin-right: 11px;
    }   
    
    ul {
        list-style-type: none;
    }

    &__header {
        display: flex;
        margin-top: 15px;

    }

    &__avatar {
        position: relative;
        width: 42px;
        height: 42px;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 100%;
        }
    }

    &__text {
        display: block;
        margin-left: 10px;

        &-name {
            font-size: 11px;
            margin-bottom: 3px;
            font-weight: 600;
        }

        &-time {
            font-size: 10px;
        }
    }

    &__body {
        margin-top: 5px;
        font-size: 10px;
        margin-right: 5px;

        &-line {
            position: relative;
            margin-top: 8px;
            border-bottom: 1px dashed #e6e6e6;
        }
    }

    li {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}
.company {
    &__body {
        font-size: 12px;
        margin-bottom: 3px;
        font-weight: 400;
        span {
            font-weight: 600;
        }
    }
    &__header {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 600;
        text-align: center;
        &-map{
            font-weight: 600;
            font-size: 13px;
        }
    }
}
.dialog-icon{
    position: absolute;
    left: -60px;
    top: 5px;
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: $main-color;
    font-size: 27px;
    border-radius: 3px 0 0 3px;
}
.dialog-form {
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    border-top: 1px solid #d9d9d9;
}
.form-group {
    margin-bottom: 15px;
    label {
        display: flex;
        margin-bottom: 5px;
        font-weight: 500;
        color: #666;
        font-size: 14px;
    }
}

h5 {
    font-size: 13px;
    font-weight: 300;
    color: #4d4d4d;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    &:focus {
        border-color: $main-color;
        box-shadow: none;
        outline: none;
    }
  }
.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    input {
        margin-right: 7px;
        vertical-align: middle;
    }
    label {
        font-size: 12px;
        margin-right: 10px;
    }
}
    
.dialog-alt-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
    a {
        text-decoration: none;
        color: $main-color;
        &:hover {
            color: #e279a5;
            text-decoration: none;
        }
    }
}

#consultation,
#registration,
#thanks,
#code,
#signin,
#coupon,
#comments,
#company,
#privacy,
#addressLinks {
    display: none;
}